.message-alert {
    position: fixed;
   top:10%;
    left:38%;
    z-index: 22231100;
  }
  @media(max-width:768px){
    .message-alert{
     top:10%;
    left:30%;
    }
  
  }
  @media(max-width:568px){
    .message-alert{
     top:10%;
    left:13%;
    }
  
  }
  .alert{
    font-size:40px;
    box-shadow:0 4px 10px rgba(0,0,0,0.46);
  }