.topLogo1{
    height:60px;
    width:200px;
    border-radius:15px ;
   font-weight:bold;
   border:3px solid 	#21232d;
}
.cartImg{
    height:80px;width:80px;
}
.tableBorder{
    border-bottom:2px solid #dcd9cb;
}
.far:hover{
    cursor:pointer;
}
.cartin{
  border-bottom:3px solid transparent;
  color:#21232d;
}
.cartin:hover{
  border-bottom:3px solid black;
}
