
.header{
    position:fixed;
    width:100%;
    z-index:10000000;
    height:100px;
}

.h1Title{
    font-weight:bold;
    color:#dcd9cb;
    font-family:'Indie Flower', cursive;
}
.h1Title:hover{
  cursor:pointer;
}
.menu a{
    display:block;
    padding:10px;
    color:#dcd9cb;
    font-size:20px;
   }
.menu a:hover{
    transform:scale(1.2);
   }
.rwdMenu{
    display:none;
    
}
.rwdMenu i{
    color:#dcd9cb;
}
@media (max-width:768px){
    .menu{
      flex-direction: column;
      
      max-height:0px;
      overflow:hidden;
      position:absolute;
      z-index:10000000000;
      transition:1.5s;
      top:85px;
      left:0;
      right:0;
      background:#21232d;
      
    }
   
    .menu li{
      border-bottom:2px dashed white;
      text-align:center;
    }
    .menu-show .menu{
      max-height:300px;
      
    }
    .menu a:hover{
      color:#21232d;
      transform:none;   
    }
    .rwdMenu{
      display:block;
    }
    .menu li:hover{
     background:white;

    }
    
   
  }
  